In [ ]:
import pandas as pd
raw_data = pd.read_csv('/data/stock/stock.KOSPI.KOSDAQ.19960701to20220331.adjusted.datefilled.indicator.nonan.csv')

In [5]:
raw_data.iloc[:,:85].head()

,date,code,open,high,low,close,volume,tradingvalue,change,survival,...,ichimoku_conversion_line,KST,KSTsig,MACD,MACDdiff,MACDsig,MI,PSARdown,PSARup,STC
0,19960701,10,36496,37676,36496,37588,14499,542221500,1.18,1,...,37086.0,3143.3,3143.3,0.0000,0.0000,0.000,1.0000,-1.0,-1.0,0.0
1,19960702,10,37588,38462,37151,37938,30476,1153293600,0.93,2,...,37479.0,3162.5,3152.9,27.9200,22.3360,5.584,2.0177,-1.0,-1.0,0.0
2,19960703,10,38025,38025,37151,37719,18375,694638000,-0.58,3,...,37479.0,3160.9,3155.6,32.0070,21.1380,10.869,2.9867,37676.0,-1.0,0.0
3,19960704,10,37719,37938,37151,37370,22539,849041000,-0.93,4,...,37479.0,3150.5,3154.3,7.0033,-3.0922,10.096,3.9127,37676.0,37151.0,0.0
4,19960705,10,37151,38025,37151,38025,15830,595899300,1.75,5,...,37479.0,3158.7,3155.2,39.5850,23.5910,15.993,4.8244,37938.0,37151.0,0.0

In [2]:
import pandas as pd
raw_data = pd.read_csv('/data/stock/stock.KOSPI.KOSDAQ.2012.csv')
raw_data.head()

,date,code,D-10_open,D-10_high,D-10_low,D-10_close,D-10_MA5,D-10_MA20,D-10_MA60,D-10_MA120,...,D-1_VIpos,D-1_ROC,D-1_MFI,D-1_KCW,D-1_BBP,D-1_KST,D-1_DCW,D-1_SRSID,D-1_PPOhist,NextChange
0,20120102,16385,-0.023573,0.009925,-0.028537,0.009925,0.000495,-0.023078,-0.029591,0.049886,...,1.14440,3.97020,86.354,6.6468,0.89682,53.341,13.812,1.000000,0.289370,-1.43
1,20120103,16385,0.000000,0.000000,0.000000,0.000000,-0.005897,-0.028194,-0.039292,0.038472,...,1.03640,2.48130,81.469,6.2073,0.70124,53.597,13.308,0.912360,0.155670,-0.61
2,20120104,16385,0.000000,0.007372,0.000000,0.007372,-0.002457,-0.023772,-0.039374,0.037335,...,1.12840,1.86100,78.376,6.1898,0.60901,53.290,13.296,0.713610,0.012119,-0.24
3,20120105,16385,-0.001220,0.000000,-0.001220,0.000000,-0.006342,-0.027135,-0.046504,0.028606,...,1.09180,0.61427,77.885,5.9693,0.55773,53.453,13.298,0.403750,-0.106770,-0.24
4,20120110,16385,-0.002440,0.012194,-0.002440,0.012194,0.000975,-0.019270,-0.046993,0.026299,...,0.95562,-2.43910,77.505,5.9335,0.13632,51.280,15.881,0.023473,-0.398300,0.00

In [1]:
import pandas as pd
raw_data = pd.read_feather('d1221.ftr', use_threads = True)
raw_data.head()

,date,code,D-10_open,D-10_high,D-10_low,D-10_close,D-10_MA5,D-10_MA20,D-10_MA60,D-10_MA120,...,D-1_VIpos,D-1_ROC,D-1_MFI,D-1_KCW,D-1_BBP,D-1_KST,D-1_DCW,D-1_SRSID,D-1_PPOhist,NextChange
0,20120102,016385,-0.023573,0.009925,-0.028537,0.009925,0.000495,-0.023078,-0.029591,0.049886,...,1.14440,3.97020,86.354,6.6468,0.89682,53.341,13.812,1.000000,0.289370,-1.43
1,20120103,016385,0.000000,0.000000,0.000000,0.000000,-0.005897,-0.028194,-0.039292,0.038472,...,1.03640,2.48130,81.469,6.2073,0.70124,53.597,13.308,0.912360,0.155670,-0.61
2,20120104,016385,0.000000,0.007372,0.000000,0.007372,-0.002457,-0.023772,-0.039374,0.037335,...,1.12840,1.86100,78.376,6.1898,0.60901,53.290,13.296,0.713610,0.012119,-0.24
3,20120105,016385,-0.001220,0.000000,-0.001220,0.000000,-0.006342,-0.027135,-0.046504,0.028606,...,1.09180,0.61427,77.885,5.9693,0.55773,53.453,13.298,0.403750,-0.106770,-0.24
4,20120110,016385,-0.002440,0.012194,-0.002440,0.012194,0.000975,-0.019270,-0.046993,0.026299,...,0.95562,-2.43910,77.505,5.9335,0.13632,51.280,15.881,0.023473,-0.398300,0.00

# volume이 왜 다른가
일단 scaling은 안돼있음.

In [35]:
import FinanceDataReader as fdr
fdr.DataReader('016385', '2011-12-16', '2012-01-02')[-10:]
# fdr.DataReader('016385', '2021-11-16', '2021-12-08')[-10:]

              Open    High     Low   Close  Volume    Change
Date
2011-12-19  772439  798931  768494  798952    1000  0.009925
2011-12-20  798931  798931  798931  798952     500  0.000000
2011-12-21  798937  804837  798937  804841    2011  0.007371
2011-12-22  803823  804837  803823  804841    1440  0.000000
2011-12-23  804837  804837  804837  804841     610  0.000000
2011-12-26  802855  814652  802855  814656    3220  0.012195
2011-12-27  809731  859787  809731  814656    6930  0.000000
2011-12-28  811687  838216  772452  814656    3670  0.000000
2011-12-29  812696  880412  804844  822508    8920  0.009638
2012-01-02  841144  841144  822504  822508      40  0.000000

In [27]:
fdr.DataReader('016380', '2021-11-16', '2021-12-09')[-10:]

             Open   High    Low  Close  Volume    Change
Date
2021-11-26  10750  10800  10300  10350  340765 -0.032710
2021-11-29   9970  10250   9940  10000  356154 -0.033816
2021-11-30  10100  10200   9530   9590  382058 -0.041000
2021-12-01   9510  10300   9500  10050  479490  0.047967
2021-12-02   9810  10350   9810  10200  484539  0.014925
2021-12-03  10250  10850  10050  10750  449738  0.053922
2021-12-06  10550  11000  10500  10800  234397  0.004651
2021-12-07  10950  11050  10800  10950  191278  0.013889
2021-12-08  11100  11250  10950  11100  281242  0.013699
2021-12-09  11100  11250  10950  11100  222746  0.000000

In [16]:
krx = fdr.StockListing('KRX')
krx[krx['Symbol']=='016385']

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1367,016385,KOSPI,KG스틸우,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [19]:
!pip install pykrx

Defaulting to user installation because normal site-packages is not writeable
Collecting pykrx
  Downloading pykrx-1.0.37-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 4.2 MB/s  eta 0:00:01
Requirement already satisfied: pandas in /package/anaconda3.8/lib/python3.8/site-packages (from pykrx) (1.3.5)
Collecting datetime
  Downloading DateTime-4.4-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 455 kB/s  eta 0:00:01
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: xlrd in /package/anaconda3.8/lib/python3.8/site-packages (from pykrx) (2.0.1)
Requirement already satisfied: requests in /package/anaconda3.8/lib/python3.8/site-packages (from pykrx) (2.27.1)
Requirement already satisfied: numpy in /package/anaconda3.8/lib/python3.8/site-packages (from pykrx) (1.19.5)
Requirement already satisfied: pytz in /package/anaconda3.8/lib/python3.8/site-packages (from datetime->pykrx) (2021.3)
Requirement already satisfied: zope.interface in /package/anaconda3.8/lib/python3.8/site-packages (from datetime->pykrx) (5.4.0)
Requirement already satisfied: wrapt<2,>=1.10 in /package/anaconda3.8/lib/python3.8/site-packages (from deprecated->pykrx) (1.12.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /package/anaconda3.8/lib/python3.8/site-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: six>=1.5 in /package/anaconda3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /package/anaconda3.8/lib/python3.8/site-packages (from requests->pykrx) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /package/anaconda3.8/lib/python3.8/site-packages (from requests->pykrx) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /package/anaconda3.8/lib/python3.8/site-packages (from requests->pykrx) (2022.5.18.1)
Requirement already satisfied: idna<4,>=2.5 in /package/anaconda3.8/lib/python3.8/site-packages (from requests->pykrx) (3.3)
Requirement already satisfied: setuptools in /package/anaconda3.8/lib/python3.8/site-packages (from zope.interface->datetime->pykrx) (58.0.4)
Installing collected packages: deprecated, datetime, pykrx
Successfully installed datetime-4.4 deprecated-1.2.13 pykrx-1.0.37

In [40]:
from pykrx import stock
df = stock.get_market_ohlcv('2012-01-02', '2012-01-12', '016385')[-10:]

In [41]:
df

                시가      고가      저가      종가   거래량
날짜
2012-01-02  841144  841144  822504  822508    40
2012-01-03  814620  814620  785159  810730  1790
2012-01-04  805822  805822  805822  805822   320
2012-01-05  796962  805794  796962  803859   300
2012-01-06       0       0       0  803859     0
2012-01-09  802834  802834  801858  801896    20
2012-01-10  794980  801857  751805  785211  1001
2012-01-11  814633  814633  767513  785211   560
2012-01-12  756725  822489  756725  785211    50

In [2]:
for i in raw_data.columns:
    if 'volume' in i or 'Volume' in i:
        print(i)

D-10_volume
D-9_volume
D-8_volume
D-7_volume
D-6_volume
D-5_volume
D-4_volume
D-3_volume
D-2_volume
D-1_volume

In [42]:
# raw_data['D-10_tradingvalue']
for_vol = raw_data[['code', 'date','D-1_volume']]
# for_vol
for_vol[for_vol['code'] == '016385'][:10]

     code      date  D-1_volume
0  016385  20120102         1.0
1  016385  20120103         9.0
2  016385  20120104         2.0
3  016385  20120105         2.0
4  016385  20120110         5.0
5  016385  20120111         3.0
6  016385  20120112         1.0
7  016385  20120113         1.0
8  016385  20120116         6.0
9  016385  20120117         1.0

In [37]:
data_df = pd.read_csv('/data/stock/stock.KOSPI.KOSDAQ.19960701to20220331.adjusted.datefilled.indicator.nonan.csv')
data_df[data_df['code']=='016385']

/package/anaconda3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty DataFrame
Columns: [date, code, open, high, low, close, volume, tradingvalue, change, survival, NT20D, previous_close, Next_Change, rTR, rTR_5Dmax, MA5, MA20, MA60, MA120, MA240, AO, KAMA, PPO, PPOhist, PPOsig, PVO, PVOhist, PVOsig, ROC, RSI, SO, SOsig, SRSI, SRSID, SRSIK, TSI, UO, WR, ADI, CMF, EOM, EOMsig, FI, MFI, NVI, OBV, VPT, VMAP, ATR, BBH, BBL, BBM, BBP, BBW, DCH, DCL, DCM, DCP, DCW, KCH, KCL, KCM, KCP, KCW, UI, ADX, ADXneg, ADXpos, AIdown, AIup, CCI, DPO, Ichimoku_a, Ichimoku_b, ichimoku_base_line, ichimoku_conversion_line, KST, KSTsig, MACD, MACDdiff, MACDsig, MI, PSARdown, PSARup, STC, TRIX, VIneg, VIpos, CR, DLR]
Index: []

[0 rows x 90 columns]

In [39]:
data_df.loc[(data_df['code']==16385)&(data_df['date']==20120102)]

,date,code,open,high,low,close,volume,tradingvalue,change,survival,...,MACDsig,MI,PSARdown,PSARup,STC,TRIX,VIneg,VIpos,CR,DLR
4574478,20120102,16385,841209,841209,822559,822559,1,169300,0.0,3950,...,10715.0,24.859,859859.0,772499.0,100.0,0.20956,0.8399,1.1444,52.184,0.0

# ##########################################
포기, 그냥 trading value로 데이터 뽑기

In [2]:
import pandas as pd
raw_data = pd.read_csv('/data/stock/stock.KOSPI.KOSDAQ.19960701to20220331.adjusted.datefilled.indicator.nonan.csv')
raw_data.head()

/package/anaconda3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,date,code,open,high,low,close,volume,tradingvalue,change,survival,...,MACDsig,MI,PSARdown,PSARup,STC,TRIX,VIneg,VIpos,CR,DLR
0,19960701,10,36496,37676,36496,37588,14499,542221500,1.18,1,...,0.000,1.0000,-1.0,-1.0,0.0,298.590000,0.000000,0.000000,0.00000,314.33000
1,19960702,10,37588,38462,37151,37938,30476,1153293600,0.93,2,...,5.584,2.0177,-1.0,-1.0,0.0,0.001819,0.017550,0.065720,0.93115,0.93115
2,19960703,10,38025,38025,37151,37719,18375,694638000,-0.58,3,...,10.869,2.9867,37676.0,-1.0,0.0,0.003636,0.059632,0.092241,0.34852,-0.57726
3,19960704,10,37719,37938,37151,37370,22539,849041000,-0.93,4,...,10.096,3.9127,37676.0,37151.0,0.0,0.003554,0.085825,0.114870,-0.57997,-0.92526
4,19960705,10,37151,38025,37151,38025,15830,595899300,1.75,5,...,15.993,4.8244,37938.0,37151.0,0.0,0.005599,0.107770,0.138710,1.16260,1.75270

In [ ]:
    df['AO'] = ta.momentum.awesome_oscillator(high=H, low=L, fillna=True)
    df['KAMA'] = ta.momentum.kama(close=C, fillna=True)
    df['PPO'] = ta.momentum.ppo(close=C, fillna=True)
    df['PPOhist'] = ta.momentum.ppo_hist(close=C, fillna=True)
    df['PPOsig'] = ta.momentum.ppo_signal(close=C, fillna=True)
    df['PVO'] = ta.momentum.pvo(volume=V, fillna=True)
    df['PVOhist'] = ta.momentum.pvo_hist(volume=V, fillna=True)
    df['PVOsig'] = ta.momentum.pvo_signal(volume=V, fillna=True)
    df['ROC'] = ta.momentum.roc(close=C, fillna=True)
    df['RSI'] = ta.momentum.rsi(close=C, fillna=True)
    df['SO'] = ta.momentum.stoch(high=H, low=L, close=C, fillna=True)
    df['SOsig'] = ta.momentum.stoch_signal(high=H, low=L, close=C, fillna=True)
    df['SRSI'] = ta.momentum.stochrsi(close=C, fillna=True)
    df['SRSID'] = ta.momentum.stochrsi_d(close=C, fillna=True)
    df['SRSIK'] = ta.momentum.stochrsi_k(close=C, fillna=True)
    df['TSI'] = ta.momentum.tsi(close=C, fillna=True)
    df['UO'] = ta.momentum.ultimate_oscillator(high=H, low=L, close=C, fillna=True)
    df['WR'] = ta.momentum.williams_r(high=H, low=L, close=C, fillna=True)
    df['ADI'] = ta.volume.acc_dist_index(high=H, low=L, close=C, volume=V, fillna=True)
    df['CMF'] = ta.volume.chaikin_money_flow(high=H, low=L, close=C, volume=V, fillna=True)
    df['EOM'] = ta.volume.ease_of_movement(high=H, low=L, volume=V, fillna=True)
    df['EOMsig'] = ta.volume.sma_ease_of_movement(high=H, low=L, volume=V, fillna=True)
    df['FI'] = ta.volume.force_index(close=C, volume=V, fillna=True)
    df['MFI'] = ta.volume.money_flow_index(high=H, low=L, close=C, volume=V, fillna=True)
    df['NVI'] = ta.volume.negative_volume_index(close=C, volume=V, fillna=True)
    df['OBV'] = ta.volume.on_balance_volume(close=C, volume=V, fillna=True)
    df['VPT'] = ta.volume.volume_price_trend(close=C, volume=V, fillna=True)
    df['VMAP'] = ta.volume.volume_weighted_average_price(high=H, low=L, close=C, volume=V, fillna=True)
    df['ATR'] = ta.volatility.average_true_range(high=H, low=L, close=C, fillna=True)
    df['BBH'] = ta.volatility.bollinger_hband(close=C, fillna=True)
    df['BBL'] = ta.volatility.bollinger_lband(close=C, fillna=True)
    df['BBM'] = ta.volatility.bollinger_mavg(close=C, fillna=True)
    df['BBP'] = ta.volatility.bollinger_pband(close=C, fillna=True)
    df['BBW'] = ta.volatility.bollinger_wband(close=C, fillna=True)
    df['DCH'] = ta.volatility.donchian_channel_hband(high=H, low=L, close=C, fillna=True)
    df['DCL'] = ta.volatility.donchian_channel_lband(high=H, low=L, close=C, fillna=True)
    df['DCM'] = ta.volatility.donchian_channel_mband(high=H, low=L, close=C, fillna=True)
    df['DCP'] = ta.volatility.donchian_channel_pband(high=H, low=L, close=C, fillna=True)
    df['DCW'] = ta.volatility.donchian_channel_wband(high=H, low=L, close=C, fillna=True)
    df['KCH'] = ta.volatility.keltner_channel_hband(high=H, low=L, close=C, fillna=True)
    df['KCL'] = ta.volatility.keltner_channel_lband(high=H, low=L, close=C, fillna=True)
    df['KCM'] = ta.volatility.keltner_channel_mband(high=H, low=L, close=C, fillna=True)
    df['KCP'] = ta.volatility.keltner_channel_pband(high=H, low=L, close=C, fillna=True)
    df['KCW'] = ta.volatility.keltner_channel_wband(high=H, low=L, close=C, fillna=True)
    df['UI'] = ta.volatility.ulcer_index(close=C, fillna=True)
    df['ADX'] = ta.trend.adx(high=H, low=L, close=C, fillna=True)
    df['ADXneg'] = ta.trend.adx_neg(high=H, low=L, close=C, fillna=True)
    df['ADXpos'] = ta.trend.adx_pos(high=H, low=L, close=C, fillna=True)
    df['AIdown'] = ta.trend.aroon_down(close=C, fillna=True)
    df['AIup'] = ta.trend.aroon_up(close=C, fillna=True)
    df['CCI'] = ta.trend.cci(high=H, low=L, close=C, fillna=True)
    df['DPO'] = ta.trend.dpo(close=C, fillna=True)
    df['Ichimoku_a'] = ta.trend.ichimoku_a(high=H, low=L, window1 = 7, window2 = 22, visual=False, fillna=True)
    df['Ichimoku_b'] = ta.trend.ichimoku_b(high=H, low=L, window2 = 22, window3 = 44, visual=False, fillna=True)
    df['ichimoku_base_line'] = ta.trend.ichimoku_base_line(high=H, low=L, window1 = 7, window2 = 22, visual=False, fillna=True)
    df['ichimoku_conversion_line'] = ta.trend.ichimoku_conversion_line(high=H, low=L, window1 = 7, window2 = 22, visual=False, fillna=True)
    df['KST'] = ta.trend.kst(close=C, fillna=True)
    df['KSTsig'] = ta.trend.kst_sig(close=C, fillna=True)
    df['MACD'] = ta.trend.macd(close=C, fillna=True)
    df['MACDdiff'] = ta.trend.macd_diff(close=C, fillna=True)
    df['MACDsig'] = ta.trend.macd_signal(close=C, fillna=True)
    df['MI'] = ta.trend.mass_index(high=H, low=L, fillna=True)
    df['PSARdown'] =ta.trend.psar_down(high=H, low=L, close=C, fillna=True)
    df['PSARup'] =ta.trend.psar_up(high=H, low=L, close=C, fillna=True)
    df['STC'] =ta.trend.stc(close=C, fillna=True)
    df['TRIX'] = ta.trend.trix(close=C, fillna=True)
    df['VIneg'] = ta.trend.vortex_indicator_neg(high=H, low=L, close=C, fillna=True)
    df['VIpos'] = ta.trend.vortex_indicator_pos(high=H, low=L, close=C, fillna=True)
    df['CR'] = ta.others.cumulative_return(close=C, fillna=True)
    df['DLR'] = ta.others.daily_log_return(close=C, fillna=True)
    df['DLR'] = ta.others.daily_return(close=C, fillna=True)